<section class="library" id="myLibraryPage_show">
  <div class="library__buttons">
    <button type="button" class="btn library__btn library__btn--watch" data-action="watched">Watched</button>
    <button type="button" class="btn library__btn library__btn--queue" data-action="queue">Queue</button>
  </div>
  <ul class="films-list">
    
  </ul>
</section>