{{#each this}}
<div class="swiper-slide">
    <p class="items-title">"{{title}}"</p>
    <a href="/film/{{id}}" class="link-video">
        <img class="items-photo" src="https://image.tmdb.org/t/p/original{{poster_path}}" width="200" height="280"
            alt="{{title}}">
    </a>
</div>

{{/each}}