<section class="developers">
        <h2 class="tittle-team">our team</h2>
        
        <div class="box">
            <p class="name-developer">Denis Eskov</p>
            <a class="icon" href="https://github.com/JustDenis" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        
        
        <div class="box">
            <p class="name-developer">Denys Palyha</p>
            <a class="icon" href="https://github.com/DenysPalyha" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        
        
        <div class="box">
            <p class="name-developer">Maxim Kovalenko</p>
            <a class="icon" href="https://github.com/ketamin2020" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        
        
        <div class="box">
            <p class="name-developer">Mykola Babytskiy</p>
            <a class="icon" href="https://github.com/Kolya1210" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        
        
        <div class="box">
            <p class="name-developer">Oleg Kolyushko</p>
            <a class="icon" href="https://github.com/OlegKolyushko" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        
        
        <div class="box">
            <p class="name-developer">Sergiy Snigur</p>
            <a class="icon" href="https://github.com/SergiySnigur" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        
        
        <div class="box">
            <p class="name-developer">Vitya Machine</p>
            <a class="icon" href="https://github.com/VVMachine" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        
        
        <div class="box">
            <p class="name-developer">Elena Salamakha</p>
            <a class="icon" href="https://github.com/elena-salam" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        </section>