*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}






body {
  font-family: 'Roboto' ,serif;
}

.container{
  width: 1024px;
}

@font-face{
  font-family: 'Roboto';
  src: url('./fonts/Roboto.woff2');
  font-weight: 400;
  font-stretch: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('./fonts/Robotomedium.woff2');
  font-weight: 500;
  font-stretch: normal;
}

@font-face{
  font-family: 'DroidSans';
  src: url('./fonts/DroidSans-Bold.woff');
  font-weight: 700;
  font-stretch: normal;
}
